<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head >

</head>
<body>
<div th:fragment="post">
    <div class="card text-right">
        <div class="card-body">
            <h5 class="card-body">פוסט ראשון</h5>
            <h6 class="card-subtitle mb-2 text-muted">פורסם בתאריך 15/08/19 מאת מיכאל </h6>
            <p class="card-text">שייקספיר מאוהב (גבינת פאלטרו), נני מקפי – קסם של אומנת (אמה תומפסון), הענק הירוק (אדוארד נורטון), קח את זה כמו גבר (ג'ייסון סיגל, קריסטן בל), מודלים לחיקוי (פול ראד), לחלום אותך (רובין וויליאמס), פאטץ' אדאמס (רובין וויליאמס), 8 מייל (אמינם), אמריקן גנגסטר (דנזל וושינגטון), זה סיפור קצת מצחיק (זאק גליפיאנאקיס), קספר, חטיפה בים הצפוני (Ffolkes עם רוג'ר מור, 1980), יריד ההבלים (ריס ווית'רספון), ילדת פרא (אמה רוברטס), הארי וההנדרסונים (ג'ון לית'גו), בין: הסרט (רואן אטקינסון), הלבוי 2: צבא הזהב, הופ הארנב.</p>
            <a href="#" class="card-link"></a>
        </div>
    </div>
</div>
</body>
</html>